/* remove default CSS styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/*my code */
/* backround of entire website */
body {
  background-color: rgb(192, 242, 255);
}
/* header section  */
header {
  background-color: #fff;
  width: 100%;
  height: 100px;
  font-family: catamaran;
  font-size: 25px;

  display: block;
  margin: center;
}

header h1 {
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
  border: 5px solid var(--pop);
  color: #111;
  text-align: Center;
}
/*links to pages */

header nav ul {
  display: flex;

  flex-wrap: wrap;
  padding: 0 16px;
  width: fit-content;
}
/* spacing for links */
header nav ul li {
  margin: 0 0 0 100px;
}

/* border for hero image */
.hero {
  background-color: rgb(196, 197, 255);
}

/*picture of Austin skyline*/
.hero img {
  width: 100%;
  height: 75%;
}

/* my bio */
.aboutme p {
  font-size: 23px;
  display: block;
  margin: center;
}
/*picture of me */

#about img {
  border: 1px solid #ddd;
  border-radius: 4px;
  border-color: black;
  padding: 5px;
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #111;
}

/* picture of horiseon website */
.horiseson img {
  display: flex;
  flex-wrap: wrap;
  flex: 33.33%;
  padding: 5px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  border-color: black;
  background-color: #111;
}
/* row containing the three unfished projects  */
.row {
  display: flex;
}

.row img {
  height: 205px;
  width: 75%;
  border: 1px solid #ddd;
  border-radius: 4px;
  border-color: black;
  background-color: #111;
}

/* project imgages */

.image {
  position: relative;
  width: 320px;
}
.imgage__img {
  display: flex;
  width: 33%;
}
/* comming soon in overlay */
.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-family: "qicksand";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
/* creates hover effect  */
.image__overlay:hover {
  opacity: 1;
}
/* Project title in overlay */
.image__title {
  font-size: 1.25em;
  margin-top: 0.25em;
}

/* creates spacing between pictures  */
.column {
  flex: 33.3%;
  padding: 10px;
}
/* contains contact information */
footer {
  background-color: #fff;
  width: 100%;
  height: 120px;
  font-family: catamaran;
  font-size: 25px;
  display: flex;
  margin: center;
}
/* project titles styling  */
body h2 {
  color: #7c795d;
  font-size: 30px;
  transition: 0.5s;

  font-family: "Muli", sans-serif;
}
/* project titles style */
.column h3 {
  color: #7c795d;
  font-family: "Source Sans Pro", sans-serif
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  margin: 0 0 24px;
}
.horiseson h3 {
  color: #7c795d;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  margin: 0 0 24px;
}
